<h1>Certificado Digital</h1>

<%= link_to "Criar Certificado", "/certificate/new" %>
<br>
<%= link_to "Validar Certificado", "/certificate/auth_view" %>
<br>
<%= link_to "Assinar Documento", "/certificate/sign_view" %>
<br>
<%= link_to "Verificar Documento", "/certificate/verify_view" %>